 .start-conversation-arrow {
    animation: arrow-move 1s infinite alternate;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 0.5rem;
    background: transparent !important;
}
@keyframes arrow-move {
	0% { transform: translateX(0); }
	100% { transform: translateX(10px) scale(1.1); }
}
